.LoginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLogin {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.LoginContent {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.LoginCard {
  background: rgba(255, 255, 255, 0.4);
  height: auto;
  width: 22%;
  margin: 0px 100px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 10px;
  text-align: center;
}

.LoginForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
